<a href="https://colab.research.google.com/github/manavpatel7220/task1mainflow/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

1)List:
-It is an ordered collection of items which can be of any type.
-It is mutable.(it means elements can be changed after they are created)

-syntax=
    mylist = ["element1", "element2", "element3", ...]
    
2)Dictionary:
-It is is an unordered collection of key-value pairs.
-It is mutable.(it means elements can be changed after they are created)
-The keys must be unique and of an immutable.

-Syntax:
    mydict = {key1: "value1", key2: "value2", key3: "value3", ...}
    
3)Sets:
-It is an unordered collection of unique elements.
-Sets are mutable but the elements must be immutable types.

-Syntax:
    # Using curly braces
    myset = {"element1", "element2", "element3", ...}

    # Using set() function
    myset = set(["element1", "element2", "element3", ...])

Coding Part:

**List**

In [3]:
# Create a list
mylist = [11, 12,13, 14, 15]

print("List:", mylist)

List: [11, 12, 13, 14, 15]

In [4]:
# Adding elements
mylist.append(16)

print("After adding:", mylist)

After adding: [11, 12, 13, 14, 15, 16]

In [5]:
# Removing elements
mylist.remove(13)

print("After removing:", mylist)

After removing: [11, 12, 14, 15, 16]

In [6]:
# Modifying elements
mylist[3] = 21  # Changes the element at index 3 to 21

print("After modifying element:", mylist)

After modifying element: [11, 12, 14, 21, 16]

In [16]:
#Extra

# Inserting an element at a specific position
mylist.insert(5,6)  # Insert 6 at index 5
print("List after inserting an element:", mylist)
print()

# Reversing the list
mylist.reverse()
print("List after reversing:", mylist)
print()

# Sorting the list
mylist.sort()
print("List after sorting:", mylist)
print()

# Sorting the list in descending order
mylist.sort(reverse=True)
print("List after sorting in descending order:", mylist)
print()

# Extending the list by another list
mylist.extend([7, 8, 9])
print("List after extending:", mylist)
print()

# Slicing a list
sublist = mylist[2:5]  # Elements from index 2 to 4
print("Sublist from index 2 to 4:", sublist)
print()

# Checking if an element exists in the list
element_exists = 3 in mylist
print("Does element 3 exist in the list?", element_exists)
print()

# Clearing all elements from the list
mylist.clear()
print("List after clearing all elements:", mylist)
print()

List after inserting an element: [21, 16, 14, 12, 11, 6, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 8, 9]

List after reversing: [9, 8, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 6, 11, 12, 14, 16, 21]

List after sorting: [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 11, 12, 14, 16, 21]

List after sorting in descending order: [21, 16, 14, 12, 11, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

List after extending: [21, 16, 14, 12, 11, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 8, 9]

Sublist from index 2 to 4: [14, 12, 11]

Does element 3 exist in the list? False

List after clearing all elements: []

**Dictionary**

In [17]:
# Creating a dictionary
mydict = {'name': 'Manav','age': 21,'Country': 'India'}

print(mydict)

{'name': 'Manav', 'age': 21, 'Country': 'India'}

In [18]:
# Adding a new key-value pair
mydict['sex'] = 'Male'

print(mydict)

{'name': 'Manav', 'age': 21, 'Country': 'India', 'sex': 'Male'}

In [19]:
# Using pop() to remove an element
sex = mydict.pop('sex')

print('Removed sex:', sex)
print(mydict)

Removed sex: Male
{'name': 'Manav', 'age': 21, 'Country': 'India'}

In [20]:
# Modifying an existing key-value pair
mydict['age'] = 18

print(mydict)

{'name': 'Manav', 'age': 18, 'Country': 'India'}



Set

In [21]:
# Creating a set
myset = {11, 22, 33, 44, 55}
print("Set:", myset)

Set: {33, 22, 55, 11, 44}

In [22]:
# Adding elements
myset.add(66)
print("After adding:", myset)

After adding: {33, 66, 22, 55, 11, 44}

In [23]:
# Using remove() to remove an element
myset.remove(66)
print("After removing:", myset)

After removing: {33, 22, 55, 11, 44}

In [25]:
# Modifying a set: Since sets do not support indexing, you can modify by removing an element and adding another one.
# Removing an element and adding a new one
myset.remove(55)
myset.add(66)
print("After modifying:", myset)

After modifying: {33, 66, 22, 11, 44}